{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <style>
        /* Custom CSS for responsive image */
        .responsive-img {
            max-width: 100%; /* 图片最大宽度为父元素宽度 */
            height: auto; /* 高度自动调整以保持纵横比 */
            display: block; /* 设置为块级元素，确保其他元素按预期布局 */
            margin: 0 auto; /* 居中显示 */
        }
    </style>
</head>
<body>

<h1>用户列表</h1>

<label>
    <input type="text" class="btn btn-primary" value="新建"/>
</label>

<img src="{% static 'img/1.jpg' %}" alt="" class="responsive-img">

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>
